/* -------------------
    Global Styles
------------------- */
:root {
    --text-color: rgb(224 225 221);
    --logo-color: rgb(26 186 255);
    --motto-color: rgb(171 151 189 / .9);
    --nav-color: rgb(65 90 119 / .5);
    --main-bg-color: rgb(13 27 42);
    --accent-color: rgb(119 141 169);
    --section-bg-color: rgb(65 90 119);
    --section-and-footer-color: rgb(27 38 59);
    --last-section-bg-color: rgb(27 38 59 / .3);
    --normal-font: 'Avenir Next', 'Arial Rounded MT Regular', system-ui;
    --heading-font: 'Adobe Clean', 'Trebuchet MS', system-ui;
}
html {
    height: 100%;

    font-size: 62.5%;

    background-color: var(--main-bg-color);
    box-sizing: border-box;
}
*,
*::before,
*::after { box-sizing: inherit; }
body {
    position: relative;

    margin: 0;
    min-height: 100%;
    /* Trick to make the footer stick to the bottom */
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-size: 1.6rem;
    font-family: var(--normal-font);
    letter-spacing: 0.032rem;
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--main-bg-color) 60%, var(--accent-color)) no-repeat;
    background-size: cover;

    scroll-behavior: smooth;
}
/* -------------------
        Header
------------------- */
header {
    display: grid;
    margin-inline: 3rem;
}
header div {
    display: flex;
    margin-left: 18rem;
    margin-right: 13rem;
    justify-content: space-between;
    gap: 10rem;

    font-family: var(--heading-font);
}
h1 {
    max-width: 100%;
    align-self: center;

    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1.2rem;
    color: transparent;

    background-image: linear-gradient(to bottom right, var(--logo-color) 20%, #fff 75%, var(--logo-color));
    background-clip: text;
}
h2 {
    max-width: 100%;
    align-self: center;

    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--motto-color);
}
#exclamation-mark {
    font-weight: 800;
}
#banner {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
/* -------------------
    Search Box
------------------- */
nav form {
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    height: 5.5rem;
}
nav input {
    all: unset; /* override the user-agent styles */
    color: var(--normal-font);
    font-size: 1.8rem;

    text-align: center;
    
    letter-spacing: 0.076rem;
}
nav button,
nav input {
    padding: 0;

    border: 0;
    background-color: var(--nav-color);
}
nav button:hover {
    cursor: pointer;

    opacity: 0.6;
}
nav input::placeholder {
    font-weight: 200;
    font-style: italic;
    color: var(--normal-font);
}
nav input:focus::placeholder {
    color: transparent;
}
/* -------------------
        Main
------------------- */
main {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1.3fr 1fr;
    gap: 5rem;
    margin: 5rem 3rem 10.5rem;
}
section {
    padding-inline: 3rem;
    border-radius: 20px;
}
/* -------------------
    Five Day Forecast
------------------- */
#five-day-forecast {
    grid-row: 1 / 3;
    display: grid;
    background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color) 50%);
}
.day {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    padding: 2rem 5rem;
    gap: 2rem;

    border-bottom: 1px solid var(--accent-color);
}
.weather-for-the-day,
.weather-condition {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-condition p:first-of-type,
.temperature { font-weight: 600; }
.weather-condition p:first-of-type { letter-spacing: 0.032rem;}
.day:last-child { border-bottom: 0; }
.weather-for-the-day img { width: 7.8rem; }
.weather-condition p:last-of-type { font-size: 3rem; }
/* -------------------
    Today's Weather
------------------- */
#today-forecast {
    display: grid;
    grid-template-rows: 1fr 1.6fr;
    gap: 0.5rem;
    padding-block: 1.5rem;

    background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color) 90%);
}
#right-now {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
h3 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
h3,
#right-now p { margin: 0; }
#right-now p:first-of-type {
    font-weight: 600;
    letter-spacing: 0.05rem;
}
#right-now img { width: 11rem; }
#hourly-forecast img { width: 7rem; }
#hourly-forecast {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-auto-columns: 16.6%;
    grid-auto-flow: column;
    overflow: auto;
    scrollbar-color: var(--accent-color) transparent;
}
#hourly-forecast div {
    display: grid;
    justify-items: center;
    padding-inline: 1rem;

    border-right: 1px solid var(--accent-color);
}
#hourly-forecast div:last-child { border-right: 0; }
/* -------------------
    Weather Details
------------------- */
#today-details {
    /* Trick to make the unordered list take up the whole height */
    display: grid;

    background: linear-gradient(var(--last-section-bg-color), var(--section-bg-color) 30%);
}
#today-details ul {
    margin: 1rem 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;

    list-style-type: none;
}
#today-details li {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.9rem;
}
#today-details img { width: 3.2rem; }
/* -------------------
        Footer
------------------- */
footer {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;

    height: 5.5rem;
    width: 100%;

    font-size: 1.5rem;
    letter-spacing: 0.015rem;

    background-color: var(--section-and-footer-color);
}
footer ul {
    display: flex;
    gap: 2rem;

    list-style-type: none; 
}
footer img { width: 2.2rem; }
footer img:hover { opacity: 0.7; }
#decorative-shadow {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 5.5rem;

    background: linear-gradient(transparent, rgb(0 0 0 / 30%) 90%);
}
/* -------------------
    Media Queries
------------------- */
@media (max-width: 1510px) and (min-width: 1201px) {
    .day {
        grid-template-columns: 1.5fr 1fr;
        gap: 5rem;
    }
    .weather-condition { flex-direction: column; }
    .weather-condition p { margin: 0; }
}
@media (max-width: 1330px) and (min-width: 1201px) {
    .day {
        grid-template-columns: 1fr 1fr;
        padding-inline: 0;
        gap: 0;
    }
    .day:first-of-type { padding-top: 1.5rem; }
    .weather-for-the-day { flex-direction: column; }
    .weather-condition { justify-content: space-around;}
    #today-forecast { padding-block: 0 2.5rem; }
}
@media (max-width: 1200px) {
    header div {
        margin-left: 15rem;
        margin-right: 10rem;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    #today-forecast {
        grid-row: 1 / 2;

        background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color));
    }
    #today-details {
        grid-row: 2 / 3;

        background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color) 80%);
    }
    #today-details ul {
        gap: 2.5rem;
        margin-block: 3.5rem;
    }
    #five-day-forecast {
        grid-row: 3 / 4;

        background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color) 40%);
    }
}
@media (max-width: 900px) {
    header div {
        margin-inline: 0;
        flex-direction: column;
        gap: 0;

        text-align: center;
    }
    h2 {
        margin-top: 0;
    }
}
@media (max-width: 670px) {
    .day {
        grid-template-columns: 1.5fr 1fr;
        gap: 5rem;
    }
    .weather-condition { flex-direction: column; }
    .weather-condition p { margin: 0; }
    #today-forecast {
        grid-template-rows: auto auto;
        gap: 1rem;

        background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color) 120%);
    }
    #hourly-forecast {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: row;
    }
    #hourly-forecast div {
        grid-template-columns: repeat(3, auto);
        align-items: center;
        padding-block: 1rem;

        border-right: 0;
        border-bottom: 1px solid var(--accent-color);
    }
    #hourly-forecast div:last-child {
        padding-bottom: 0;

        border-bottom: 0;
    }
    #five-day-forecast {
        grid-row: 3 / 4;

        background: linear-gradient(var(--section-and-footer-color), var(--section-bg-color) 13%);
    }
}
@media (max-width: 550px) {
    main { margin-bottom: 14.3rem;}
    .day {
        grid-template-columns: 1fr 1fr;
        padding-inline: 0;
        gap: 0;
    }
    .day:first-of-type { padding-top: 1.5rem; }
    .weather-for-the-day { flex-direction: column; }
    .weather-condition { justify-content: space-around;}
    #today-details ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, fr);
        grid-column-gap: 1.2rem;
        margin-inline: 0.5rem;
    }
    #today-details li { font-size: 1.6rem;}
    footer {
        flex-direction: column;
        height: auto;
    }
    footer ul {
        padding: 0;
        margin-top: 0;
    }
}
@media (max-width: 380px) {
    main { margin-bottom: 13.65rem;}
    .weather-for-the-day img,
    #hourly-forecast img { width: 6rem; }
    .weather-condition p:last-of-type { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    #right-now img { width: 9rem; }
    footer p { font-size: 1.3rem; }
}
@media (max-width: 345px) {
    header,
    main {
        margin-inline: 1.5rem;
    }
    footer {
        padding-inline: 1.5rem;
    }
}
