.fiveDayForecast {
  grid-row: 1 / 3;
  display: grid;
  background: linear-gradient(
    var(--section-and-footer-color),
    var(--section-bg-color) 50%
  );
}
/* -------------------
    Media Queries
------------------- */
@media (max-width: 1200px) {
  .fiveDayForecast {
    grid-row: 3 / 4;

    background: linear-gradient(
      var(--section-and-footer-color),
      var(--section-bg-color) 40%
    );
  }
}
@media (max-width: 670px) {
  .fiveDayForecast {
    grid-row: 3 / 4;

    background: linear-gradient(
      var(--section-and-footer-color),
      var(--section-bg-color) 13%
    );
  }
}
